.container{
    height: 200px;
    width: 300px;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid rgb(93, 209, 93);
    border-radius: 2px;
    margin-top: 5px;
    padding-top: 5px;
}
.box{
    height: 50px;
    width: 80px;
    background-color: rgb(158, 145, 145);
    border-radius: 3px;
    border: 2px solid black;
   
}